@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-ExtraBoldItalic.woff2")
      format("woff2"),
    url("/static/fonts/Boilover/Boilover-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-RegularItalic.woff2")
      format("woff2"),
    url("/static/fonts/Boilover/Boilover-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-ExtraLightItalic.woff2")
      format("woff2"),
    url("/static/fonts/Boilover/Boilover-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-MediumItalic.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-LightItalic.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-BoldItalic.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-SemiBoldItalic.woff2")
      format("woff2"),
    url("/static/fonts/Boilover/Boilover-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-ThinItalic.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-BlackItalic.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-Bold.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-Regular.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-SemiBold.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-Light.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-ExtraBold.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-Medium.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-Black.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-Thin.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("/static/fonts/Boilover/Boilover-ExtraLight.woff2") format("woff2"),
    url("/static/fonts/Boilover/Boilover-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
