@font-face {
    font-family: "December";
    src: url("/static/fonts/December/DecemberMedium.woff2") format("woff2"),
        url("/static/fonts/December/DecemberMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}