@font-face {
    font-family: "Estero";
    src: url("/static/fonts/Estero/Estero-Medium.woff2") format("woff2"),
        url("/static/fonts/Estero/Estero-Medium.woff") format("woff");
    font-style: normal;
    font-display: swap;
}