@font-face {
    font-family: 'Quart';
    src: url('/static/fonts/Quart/Quart-Regular.woff2') format('woff2'),
        url('/static/fonts/Quart/Quart-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }